@keyframes appportrait_growOutline_3wk3d1 {
    0% {
        border-color: rgba(0, 255, 255, 0);
    }

    0.1% {
        border-color: rgba(0, 255, 255, 0.24);
    }

    100% {
        border-color: rgba(0, 255, 255, 0.6);
    }
}

@keyframes appportrait_fadeOutline_1FLuV1 {
    0% {
        border-color: rgba(0, 255, 255, 0);
    }

    100% {
        border-color: rgba(0, 255, 255, 0.6);
    }
}

@keyframes appportrait_blinker_2tSbN1 {
    50% {
        border: 2px solid rgba(0, 255, 255, 0.24);
        box-shadow: 0px 0px 24px 0px rgb(0 255 255 / 24%);
    }
}

.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus.gpfocuswithin {
    border: 2px solid rgba(0, 255, 255, 0.8);
    box-shadow: 0px 0px 24px 0px rgb(0 255 255 / 50%);
    animation: appportrait_growOutline_3wk3d1 .4s ease,appportrait_fadeOutline_1FLuV1 .4s ease,appportrait_blinker_2tSbN1 1.2s ease-in-out .4s infinite;
}

.BasicUI .appportrait_PortraitMessage_3gwMk .appportrait_Message_3CRLA {
    color: #ff4da6;
}

.basicgamecarousel_SubMessage_1BtXg {
    color: rgba(0, 255, 255, 0.6);
}

.footer_BasicFooter_3T1iF {
    border-top: 2px solid #ff4da6;
    box-shadow: 0px 0px 24px 0px #ff4da6;
}