:root {
    --custom-sp-color2: rgb(246, 1, 157);
    --custom-sp-color2-shadow: rgba(246, 1, 157, 0.8);
    --custom-sp-color2-border: rgba(246, 1, 157, 0.8);
    --custom-sp-color2-border-grow-0: rgba(246, 1, 157, 0);
    --custom-sp-color2-border-grow-01: rgba(246, 1, 157, 0.4);
    --custom-sp-color2-border-grow-100: rgba(246, 1, 157, 0.8);
    --custom-sp-color2-border-fade-0: rgba(246, 1, 157, 0);
    --custom-sp-color2-border-fade-100: rgba(246, 1, 157, 0.8);
    --custom-sp-color2-border-blink: rgba(246, 1, 157, 0.4);
    --custom-sp-color2-shadow-blink: rgba(246, 1, 157, 0.4);
}