:root {
    --custom-sp-color: rgb(255, 255, 255);
    --custom-sp-color-shadow: rgba(255, 255, 255, 0.8);
    --custom-sp-color-border: rgba(255, 255, 255, 0.8);
    --custom-sp-color-border-grow-0: rgba(255, 255, 255, 0);
    --custom-sp-color-border-grow-01: rgba(255, 255, 255, 0.4);
    --custom-sp-color-border-grow-100: rgba(255, 255, 255, 0.8);
    --custom-sp-color-border-fade-0: rgba(255, 255, 255, 0);
    --custom-sp-color-border-fade-100: rgba(255, 255, 255, 0.8);
    --custom-sp-color-border-blink: rgba(255, 255, 255, 0.4);
    --custom-sp-color-shadow-blink: rgba(255, 255, 255, 0.4);
    --custom-sp-filter: none;
    --custom-sp-throbber-filter: none;
}
