:root {
    --Steam-Side-Menu-Button: url("/themes_custom/Border and Shadow Edit/Icons/sd_button_menu.png");
    --Steam-A-Button: url("/themes_custom/Border and Shadow Edit/Icons/shared_button_a.png");
    --Steam-B-Button: url("/themes_custom/Border and Shadow Edit/Icons/shared_button_b.png");
    --Steam-X-Button: url("/themes_custom/Border and Shadow Edit/Icons/shared_button_x.png");
    --Steam-Y-Button: url("/themes_custom/Border and Shadow Edit/Icons/shared_button_y.png");
    --Steam-L1-Button: url("/themes_custom/Border and Shadow Edit/Icons/sd_l1.png");
    --Steam-R1-Button: url("/themes_custom/Border and Shadow Edit/Icons/sd_r1.png");
}
