:root {
    --Steam-Side-Menu-Button: url("/themes_custom/Border and Shadow Edit/Icons/sd_button_menu.png");
    --Steam-A-Button: url("/themes_custom/Border and Shadow Edit/Icons/shared_button_a.png");
    --Steam-B-Button: url("/themes_custom/Border and Shadow Edit/Icons/shared_button_b.png");
}
