@keyframes appportrait_blinker_2tSbN1 {
    50% {
        border: 2px solid var(--custom-sp-color-border-blink);
        box-shadow: 0px 0px 24px 0px var(--custom-sp-color-shadow-blink);
    }
}

.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus.gpfocuswithin {
    border: 2px solid var(--custom-sp-color-border);
    outline: none;
    box-shadow: 0px 0px 24px 0px var(--custom-sp-color-shadow);
    animation: appportrait_growOutline_3wk3d1 .4s ease,appportrait_fadeOutline_1FLuV1 .4s ease,appportrait_blinker_2tSbN1 1.2s ease-in-out .4s infinite;
}

.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus {
    border: 2px solid var(--custom-sp-color-border);
    outline: none;
    box-shadow: 0px 0px 24px 0px var(--custom-sp-color-shadow);
    animation: appportrait_growOutline_3wk3d1 .4s ease,appportrait_fadeOutline_1FLuV1 .4s ease,appportrait_blinker_2tSbN1 1.2s ease-in-out .4s infinite;
}