@font-face {
	font-family: Good-Times;
	src: url('/themes_custom/Outrun-Theme/font/goodtimes/goodtimes.woff') format('woff');
	src: url('/themes_custom/Outrun Theme/font/goodtimes/goodtimes.woff') format('woff');
}

* {
	font-family: Good-Times !important;
}

.downloadgraph_StatsPanel_3mdnp .downloadgraph_Figure_eXF8x {
	font-size: x-small;
}

.BasicUI .downloads_SectionItem_1VNuY .downloads_DetailsAndType_Bku7J .downloads_ProgressDetails_sv3ZH, .BasicUI .downloads_SectionItem_1VNuY .downloads_DetailsAndType_Bku7J .downloads_AutoUpdateSettings_22mb5, .BasicUI .downloads_SectionItem_1VNuY .downloads_DetailsAndType_Bku7J .downloads_PatchNotes_3kXEp {
	font-size: x-small;
}

.marquee_Content_2ADpT {
	font-size: medium;
}

.downloads_SectionItem_1VNuY .downloads_SectionItemColumn_kGTS5.downloads_Right_2WEwE div {
	font-size: xx-small;
}

.appgrid_AppGridSectionLabel_2hvQb {
	font-size: 14px;
}

button.accountpanel_FatButton_TEWms .accountpanel_Details_3Wb9y {
	font-size: xx-small !important;
}

.downloads_SectionItemStatus_1Sygg .downloads_StartTime_3tEPp {
	font-size: xx-small;
}

.gamepaddialog_FieldLabel_3b0U- {
	font-size: 14px;
}

.DialogDropDown_CurrentDisplay {
	font-size: 14px;
}

.basiccontextmenu_contextMenuItem_3PqLg {
	font-size: 14px;
}

.dropdownlabel_DropDownLabelTitle_uDBZW {
	font-size: 14px;
}

.DialogButton {
	font-size: 14px !important;
}

.perf_PerfProfileInfo_1UqP6 .perf_Heading_23Yxa .perf_Text_3gY4m {
	font-size: 14px;
}

.controllerconfiguratormapping_FieldLabel_kUF-O {
	font-size: 14px;
	word-break: normal;
}

.controllerconfiguratormapping_FieldChildren_1OBro {
	font-size: 14px;
}

.controllerconfiguratormapping_FieldChildren_1OBro {
	font-size: 14px;
	line-height: 20px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	max-width: 100%;
	margin-left: 10px;
	color: cyan;
	max-width: 120px;
}

.BasicUI .appdetailsfriendssection_AvatarAndLabel_1GCZA {
	min-width: 300px;
}

.controllerconfiguratorchoosebinding_ChooseBindingLabel_38ghy {
	font-size: 12px;
}

.controllerconfiguratorchoosebinding_TriggerButton_2MjBd .controllerconfiguratorchoosebinding_KeyboardKeyLabel_eUq_I, .controllerconfiguratorchoosebinding_BumperButton_2swvc .controllerconfiguratorchoosebinding_KeyboardKeyLabel_eUq_I, .controllerconfiguratorchoosebinding_SelectButton_3i-XV .controllerconfiguratorchoosebinding_KeyboardKeyLabel_eUq_I, .controllerconfiguratorchoosebinding_StartButton_3s28A .controllerconfiguratorchoosebinding_KeyboardKeyLabel_eUq_I {
	font-size: 12px;
}

.controllerconfiguratorchoosebinding_KeyboardKeyLabel_eUq_I {
	font-size: 10px;
}